* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Global */
#header {
    background-color: black;
    padding: 20px;
    margin-bottom: 1px;
    text-align: left;
}

#header .logo img {
    width: 100px;
    height:right;
    margin-bottom: 15px;
  
}

#header .menu ul li {
    display: inline;
    margin-left: 5px;
}
#header .menu ul li a {
    color: white;
    text-decoration: none;
}
#header .menu ul li a:hover {
    color:red;
}

/* HOME */
#intro {
    background-color:black;
    text-align: center;
} 


#intro section {
    margin: 0px;
    width: 100vw;
}

#intro section div img {
    width: 100%;
} 

#productos .container{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#productos img {
    width: 320px;
    height: auto;
    border-radius: 30px;
}

.item{
    padding: 10px;
    width: 100%;
}

.container-desc {
    padding-left: 60px;
    text-align: left;
}

.container-desc ul {
    margin-left: 50px;
}

.description {
    margin-top: 5px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.body-description {
    padding: 100px;
    text-align: justify;
}

.body-description p {
    font-size: 20px;
    margin-top: 10px;
}

/*Contacto*/
.form-control {
    width: 50%;
}

.form-control label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.form-control input {
    font-size: 16px;
}

.input-form {
    width: 100%;
    height: 50px;
}

.btn {
    background-color: rgb(86, 92, 86);
    color: white;
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.btn button:hover {
    background-color: rgba(71, 75, 71, 0.979);
}


/* Productos */
/* estilos solo para pág Productos */



/* Packs */
/* estilos solo para pág de Packs */



/* Contacto */
/* estilos solo para pág de Contacto */


/* Despachos */
/* estilos solo para pág de Despachos */


/* Nosotros */
/* estilos solo para pág de Nosotros */

/* Fotter */
/* estilos solo para footer */
#footer {
    background-color:black;
    padding: 50px;
    text-align: left;
    color: white;
}